body {
  background-color: #1e7099;
}

h1 {
  text-align: center;
  color: White;
  font-family: 'Joti One', cursive;
  margin-bottom: 10px;
}

.image {
  text-align: center;
}

.container{
  display: flex;
  margin-bottom: 10px;

}

#text h2{
  color: silver;
}

#text a:hover{
  color: green;
  text-decoration-style: dashed;
}

#text p{
  display:flex;
  float: left;
  color:silver;
}

#text p, h2{
  font-family: 'Joti One', cursive;
font-family: 'Bellefair', serif;
}

#imagetwo {
  height: 450px;
  width: 450px;
  display: flex;
  float: right;
}
