body {
  background-color: #1e7099;
}

h1 {
  text-align: center;
  color: White;
  font-family: 'Joti One', cursive;
  margin-bottom: 10px;

}

.image {
  text-align: center;
}

.container{
  display: flex;
  margin-bottom: 10px;

}

#text{
  border: 1px solid black;
  margin: 2px;
  padding: 1px;
  width: 350px;
}

#text h2{
  color: silver;
}

#text a:hover{
  color: green;
  text-decoration-style: dashed;
}

#text p{
  display:flex;
  float: left;
  color:silver;
}

#text p, h2{
  font-family: 'Joti One', cursive;
font-family: 'Bellefair', serif;
}

#imagetwo {
  height: 100%;
  margin: 2px;
  padding: 1px;
  border: 1px solid black;
  display: flex;
  float: right;
  opacity: 0.75;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


h1:hover {
  animation-name: rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}
